  <launch>

  <arg name="ROBOT" default="estirabot"/>
  <arg name="PUSHING_LIMIT" default="0.6"/>
  <arg name="PUSHING_RESOLUTION" default="0.03"/>
  <arg name="MINIMUM_GRASPING_DISTANCE" default="0.02"/>
  <arg name="PUSHING_UNTIL_GRASPABLE" default="True"/>

  <group ns="$(arg ROBOT)">
    <!-- Launch service for the predicates -->
      <node pkg="iri_table_clearing_predicates" type="iri_table_clearing_predicates"
         name="table_clearing_predicates_alg_node" output="screen">
         <param name="opening_width" value="0.07"/>
         <param name="closing_width" value="0.03"/>
         <param name="finger_width" value="0.03"/>
         <param name="gripper_height" value="0.10"/>
         <param name="closing_region_height" value="0.045"/>
         <param name="finger_deep" value="0.06"/><!--  it hsould be 0.03 but in order to consider the width of the gripper's base -->
         <param name="pushing_method" value="0"/><!-- [0] vertical/orthogonal pushing method, parallel[1]-->

         <!--
         <param name="pushing_distance_plane" value="0.025"/>
          -->
         <param name="pushing_distance_plane" value="0.01"/><!-- 1cm from the plane -->

         # this is only for the orthogonal pushing method
         <param name="pushing_object_distance" value="0.03"/>
         <param name="pushing_length_limit" value="$(arg PUSHING_LIMIT)"/> 
         <param name="resolution" value="$(arg PUSHING_RESOLUTION)"/> 
         <param name="minimum_distance" value="$(arg MINIMUM_GRASPING_DISTANCE)"/> 
         <param name="pushing_until_graspable" value="$(arg PUSHING_UNTIL_GRASPABLE)"/> 

         <param name="ee_height" value="0.1"/>
         <param name="ee_deep" value="0.15"/>
         <param name="pushing_step" value="1.0"/>
    </node>
  </group>
  

</launch>
