<launch>

  <arg name="rqt" default="false"/>

  <!-- services -->
  <include file="$(find iri_tos_supervoxels)/launch/tos_supervoxels_server.launch">
    <arg name="screen" value="false"/>
  </include>

  <!-- Launch the main node to control the process -->
  <node pkg="iri_table_clearing_decision_maker" type="iri_table_clearing_decision_maker"
       name="iri_table_clearing_decision_maker" output="screen">
       <param name="input_topic" value="/estirabot/kinect/depth_registered/points"/>

       <!-- This goal is just to separate the objects, without grasping them-->
      
       <param name="goal" value="(and (not (exists (?x - obj)(or
                                  (exists(?y - obj)(block_dir1 ?y ?x))
                                  (exists(?y - obj)(block_dir2 ?y ?x))
                                  (exists(?y - obj)(block_dir3 ?y ?x))
                                  (exists(?y - obj)(block_dir4 ?y ?x))
                                  ))
                                  )
                                  (not (exists(?x - obj)(grasped ?x)))
                                  )
                                 "/>
      <param name="execute_pushing_service" value="/table_clearing_execute_alg_node/execute_pushing"/>
      <param name="execution" value="true"/>
      <!-- This goal is to say to grasp all the objects -->                                 
      <!--
      <param name="goal" value="(not (exists (?x - obj)(not (grasped ?x))))"/>
      -->                         
                               
  </node>

  <!-- Launch Rqt_gui with the correct configuration -->
  <include file="$(find iri_table_clearing_decision_maker)/launch/rqt_gui.launch">
    <arg name="rqt" value="$(arg rqt)"/>
  </include>

</launch>