<!--
  Example launch file for octomap_server mapping:
  Listens to incoming PointCloud2 data and incrementally builds an octomap.
  The data is sent out in different representations.

  Copy this file into your workspace and adjust as needed, see
  www.ros.org/wiki/octomap_server for details
-->
<launch>

    <arg name="ROBOT" default="estirabot" />

    <group ns="$(arg ROBOT)" >

        <!-- Kinect Camera Transformation -->
        <node pkg="tf"
              type="static_transform_publisher"
              name="kinect"
              args="0.9014760 -0.0594 0.7251720 -0.641407 0.032404 0.772933 0.011045 /$(arg ROBOT)_link_base camera_link 300" >
<!--          args="0.9014760 -0.0594 0.7251720 -0.6411 0.0380 0.7730 0.0043 /$(arg ROBOT)_link_base camera_link 300" -->
        </node>

        <!-- Kinect -->
        <include file="$(find freenect_launch)/launch/freenect.launch">
            <arg name="depth_registration" default="true" />
        </include>

    </group>

</launch>
