<launch>
  
  <arg name="rqt" default="true"/>

  <!-- Launch rqt_gui with the desired perspective -->
  <group if="$(arg rqt)">
  	<node pkg="rqt_gui" type="rqt_gui" name="rqt_gui" args="--perspective-file $(find iri_table_clearing_decision_maker)/config/table_clearing.perspective"/>
  </group>

</launch>